<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.goossens.oracle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".ShowFoodList"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowCreateData" >
        </activity>
        <activity android:name=".ShowAddFoodToSelection" >
        </activity>
        <activity android:name=".ShowSelectedFood" >
        </activity>
        <activity android:name=".Preferences" >
        </activity>
        <activity android:name=".ShowManageOwnFood"></activity>
        <activity android:name=".ShowCreateFood"></activity>
        <activity android:name=".ShowUpdateOwnFood"></activity>
        <activity android:name=".ShowCreateUnit"></activity>
        <activity android:name=".ShowPreferencesInsulineRatio"></activity>
        <activity android:name=".ShowPreferencesMealTimes"></activity>
        <activity android:name=".ShowFoodTemplates"></activity>
        <activity android:name=".ShowUpdateTemplateValues"></activity>
    </application>

</manifest>